.font-family-system-segoe {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:focus {
 outline: none;
}

/* height and width rules */

.h-1 {
 height: 1rem !important;
}

.w-1 {
 width: 1rem !important;
}

.h-2 {
 height: 2rem !important;
}

.w-2 {
 width: 2rem !important;
}

.h-3 {
 height: 3rem !important;
}

.w-3 {
 width: 3rem !important;
}

/* increase height and width by same ration */

/* Margin Rules */
.m-t-0 {
 margin-top: 0;
}

.m-t-1 {
 margin-top: 1%;
}

.m-t-2 {
 margin-top: 2%;
}

.m-t-3 {
 margin-top: 3%;
}

.m-t-4 {
 margin-top: 4%;
}

.m-t-5 {
 margin-top: 5%;
}

.m-t-6 {
 margin-top: 6%;
}
/* Margin Rules */

/* Paddin Rules */

.p-0 {
 padding: 0 !important;
}

.p-1 {
 padding: 1% !important;
}

.p-2 {
 padding: 2% !important;
}

.p-3 {
 padding: 3% !important;
}

.p-4 {
 padding: 4% !important;
}

.p-5 {
 padding: 5% !important;
}

.p-x-0 {
 padding-left: 0 !important;
 padding-right: 0 !important;
}
.p-x-1 {
 padding-left: 1% !important;
 padding-right: 1% !important;
}

.p-x-2 {
 padding-left: 2% !important;
 padding-right: 2% !important;
}

.p-x-3 {
 padding-left: 3% !important;
 padding-right: 3% !important;
}

.p-x-4 {
 padding-left: 4% !important;
 padding-right: 4% !important;
}

.p-x-5 {
 padding-left: 5% !important;
 padding-right: 5% !important;
}
/* Paddin Rules */

/* background color rules */

.bg-eee {
 background: #eee !important;
}

/* background color rules */

/* effect rules */

.ease-in-out-scale {
 transition: all 0.1s ease-in-out;
}

.ease-in-out-scale:active {
 outline: none;
 transform: scale(0.90);
}

/* effect rules */

/* border rules */
.border-radius-sm {
 border-radius: 4px;
}

.border-radius-m {
 border-radius: 8px;
}
/* border rules */

.outlined {
 outline: 1px solid black;
}

.shadow-default {
 box-shadow: 4px 4px 8px rgba(2, 0, 0, 0.250);
}

button {
 padding: 0.75em 1em;
 border: none;
 border-radius: 0.5em;
 font-weight: 500;
 transition: all 0.1s ease-in-out;
}

button:hover {
 filter: brightness(95%);
}

button:active {
 filter: brightness(90%);
 transform: scale(0.95);
}

.bg-glass-scheme {
 background: rgba(255, 255, 255, 0.233) !important;
 color: rgba(255, 255, 255, 0.884);
 text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.185);
 backdrop-filter: blur(2px);
}

.select {
 padding: 0.75em 1em;
 border: none;
 border-radius: 0.5em;
 font-weight: 500;
 transition: all 0.1s ease-in-out;
}

.select:hover {
 filter: brightness(95%);
}

.select:active {
 filter: brightness(90%);
 transform: scale(0.98);
}

.select-options {
 padding: 0.75em 1em;
 border: none;
 border-radius: 0.5em;
 font-weight: 500;
 transition: all 0.1s ease-in-out;
 background: white;
}

.dropdown {
 /* padding: 0.5em 0.75em; */
 border: none;
 border-radius: 0.5em;
 transition: all 0.1s ease-in-out;
 background: #eee;
 z-index: 3;
}

.dropdown:active {
 filter: brightness(90%);
 transform: scale(0.98);
}

.dropdown > button {
 border: none;
 background: transparent;
 width: 100%;
 padding: 0.5em 0.75em;
 border-radius: 0.5rem;
}

.dropdown > button:hover {
 background: rgba(0, 0, 0, 0.11);
}

.options {
 /* display: flex; */
 flex-direction: column;
}

#options {
 display: none;
}

.optionitem {
 padding: 0.5em 0.75em; 
 border: none;
 background: transparent;
}

.dropdown > .options > .optionitem {
 border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

.dropdown > .options > .optionitem:hover {
 background: rgba(0, 0, 0, 0.11);
}

.dropdown > .options > .optionitem:first-child {
 border-top: 1px solid rgba(0, 0, 0, 0.247);
}

.dropdown > .options > .optionitem:last-child {
 border-radius: 0rem 0rem 0.5rem 0.5rem;
 border: none !important;
}


input[type="checkbox"] {
 height: 1rem;
 width: 1rem;
 cursor: pointer;
 transition: all 0.1s ease-in-out;
 accent-color: lightgreen;
 border-style: none;
}

input[type="checkbox"]:active {
 transform: scale(0.8);
}

.checkbox-body {
 height: 1rem;
 width: 1rem;
 background-color: #eee;
 border: none;
 border-radius: 4px;
 /* background:url('icons8-tick.svg') no-repeat; */
 background-position: center !important;
 background-size: contain !important;
 background-repeat: no-repeat !important;
 transition: all 0.1s ease-in-out;
 cursor: pointer;
}

.checkbox-body:active {
 transform: scale(0.9);
}

.checkbox {
 height: 1rem;
 width: 1rem;
 background-color: #eee;
 border: none;
 border-radius: 4px;
 /* background:url('icons8-tick.svg') no-repeat; */
 background-position: center !important;
 background-size: contain !important;
 background-repeat: no-repeat !important;
}

/* Default Table */

table {
  background-color: #eee;
  /* padding: 2px; */
  border-radius: 10px;
}

thead > tr > th {
  color: black !important;
}

thead > tr > th, tbody > tr > td {
  padding: 8px;
  font-size: 14px;
}

thead {
  background: rgb(199, 199, 199);
}

thead > tr > th:first-child {
  border-top-left-radius: 8px;
}

thead > tr > th:last-child {
  border-top-right-radius: 8px;
}

tbody > tr:nth-child(2n) {
  background: #dddddd;
}

tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 8px;
}

tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 8px;
}

tbody > tr:nth-child(n):hover {
  background: lightgray;
}

/* Default Table */

.inputtext {
  border: none;
  transition: all 0.1s ease-in-out;
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
  background: #eee;
}

.inputtext:active {
  outline: none;
  scale: 0.95;
}

.inputtext:hover {
  filter: brightness(0.95);
}

.inputcolor {
  border: none;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  height: 2rem;
  width: 2rem;
  background: #eee;
}

.inputcolor:active {
  outline: none;
  scale: 0.90;
}

.inputdate {
  border: none;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  text-transform: uppercase;
  background: #eee;
}

.inputdate:active {
  outline: none;
  scale: 0.95;
}

.inputdate:hover {
  filter: brightness(0.9);
}