:root {
 --info-color: rgb(0, 162, 255);
 --warn-color: gold;
 --error-color: lightcoral;
 --success-color: lightgreen;
}

/* Color and Background Color Rules */
.info-color {
 color: var(--info-color);
}

.warn-color {
 color: var(--warn-color);
}

.error-color {
 color: var(--error-color);
}

.success-color {
 color: var(--success-color);
}

.bg-info-color {
 background-color: var(--info-color);
}

.bg-warn-color {
 background-color: var(--warn-color);
}

.bg-error-color {
 background-color: var(--error-color);
}

.bg-success-color {
 background-color: var(--success-color);
}

.bg-white {
 background-color: white;
}

.bg-black {
 background-color: black;
}

.text-black {
 color: black !important;
}

/* Color and Background Color Rules */

.font-family-system-segoe {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*:focus {
 outline: none;
}

/* Border Rules */
.br-rad-0 {
 border-radius: 0 !important;
}

.br-rad-10 {
 border-radius: 10% !important;
}

.br-rad-15 {
 border-radius: 15% !important;
}

.br-rad-25 {
 border-radius: 25% !important;
}

.br-rad-50 {
 border-radius: 50% !important;
}

.br-rad-6px {
 border-radius: 6px !important;
}

/* Border Rules */

/* Position rules */
.sticky-top {
 position: sticky;
 top: 0;
}

/* Position rules */

/* Flex Rules */
.flex-jc-ac-col {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

.flex-jc-ac-row {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

/* Flex Rules */

/* height and width rules */

.h-1 {
 height: 1rem !important;
}

.w-1 {
 width: 1rem !important;
}

.h-2 {
 height: 2rem !important;
}

.w-2 {
 width: 2rem !important;
}

.h-3 {
 height: 3rem !important;
}

.w-3 {
 width: 3rem !important;
}

/* increase height and width by same ration */

/* Margin Rules */

.m-t-0 {
 margin-top: 0;
}

.m-t-1 {
 margin-top: 1%;
}

.m-t-2 {
 margin-top: 2%;
}

.m-t-3 {
 margin-top: 3%;
}

.m-t-4 {
 margin-top: 4%;
}

.m-t-5 {
 margin-top: 5%;
}

.m-t-6 {
 margin-top: 6%;
}

/*  */

.m-b-0 {
 margin-bottom: 0;
}

.m-b-1 {
 margin-bottom: 12rem;
}

.m-b-2 {
 margin-bottom: 2%;
}

.m-b-3 {
 margin-bottom: 3%;
}

.m-b-4 {
 margin-bottom: 4%;
}

.m-b-5 {
 margin-bottom: 5%;
}

.m-b-6 {
 margin-bottom: 6%;
}

/* Margin Rules */

/* Paddin Rules */

.p-0 {
 padding: 0 !important;
}

.p-1 {
 padding: 1% !important;
}

.p-2 {
 padding: 2% !important;
}

.p-3 {
 padding: 3% !important;
}

.p-4 {
 padding: 4% !important;
}

.p-5 {
 padding: 5% !important;
}

.p-x-0 {
 padding-left: 0 !important;
 padding-right: 0 !important;
}

.p-x-1 {
 padding-left: 1% !important;
 padding-right: 1% !important;
}

.p-x-2 {
 padding-left: 2% !important;
 padding-right: 2% !important;
}

.p-x-3 {
 padding-left: 3% !important;
 padding-right: 3% !important;
}

.p-x-4 {
 padding-left: 4% !important;
 padding-right: 4% !important;
}

.p-x-5 {
 padding-left: 5% !important;
 padding-right: 5% !important;
}

/* Paddin Rules */

/* text rules */
.text-center {
 text-align: center;
}

/* text rules */

/* background color rules */

.bg-eee {
 background: #eee !important;
}

.link-button {
 background-color: rgb(57, 55, 187);
 color: white;
 text-wrap: nowrap;
 text-decoration: none;
 font-weight: 500;
 padding: 4px 8px;
 border-radius: 6px;
 width: fit-content;
}

.link-button:visited {
 text-decoration: none;
 color: white;
}

.link-button:hover {
 background-color: rgb(79, 116, 184);
 outline: none;
}

/* background color rules */

/* effect rules */

.ease-in-out-scale {
 transition: all 0.1s ease-in-out;
}

.ease-in-out-scale:active {
 outline: none;
 transform: scale(0.95);
}

/* effect rules */

/* border rules */
.border-radius-sm {
 border-radius: 4px;
}

.border-radius-m {
 border-radius: 8px;
}

/* border rules */

.outlined {
 outline: 1px solid black;
}

.shadow-default {
 box-shadow: 4px 4px 8px rgba(2, 0, 0, 0.25);
}

.button {
 padding: 0.75em 1em;
 border: none;
 border-radius: 0.5em;
 font-weight: 500;
 transition: all 0.1s ease-in-out;
}

.button:hover {
 filter: brightness(95%);
}

.button:active {
 filter: brightness(90%);
 transform: scale(0.95);
}

.bg-glass-scheme {
 background: rgba(255, 255, 255, 0.233) !important;
 color: rgba(255, 255, 255, 0.884);
 text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.185);
 backdrop-filter: blur(2px);
}

.bg-glass-scheme {
 background: rgba(0, 0, 0, 0.342) !important;
 color: rgba(255, 255, 255, 0.884);
 text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.185);
 backdrop-filter: blur(2px);
}

.select {
 padding: 0.75em 1em;
 border: none;
 border-radius: 0.5em;
 font-weight: 500;
 transition: all 0.1s ease-in-out;
}

.select:hover {
 filter: brightness(95%);
}

.select:active {
 filter: brightness(90%);
 transform: scale(0.98);
}

.select-options {
 padding: 0.75em 1em;
 border: none;
 border-radius: 0.5em;
 font-weight: 500;
 transition: all 0.1s ease-in-out;
 background: white;
}

/* Dropdown Rules */

.dropdown {
 /* padding: 0.5em 0.75em; */
 border: none;
 border-radius: 0.5em;
 transition: all 0.1s ease-in-out;
 background: #eee;
 z-index: 3;
}

.dropdown:active {
 filter: brightness(90%);
 transform: scale(0.98);
}

.dropdown>button {
 border: none;
 background: transparent;
 width: 100%;
 padding: 0.5em 0.75em;
 border-radius: 0.5rem;
}

.dropdown>button:hover {
 background: rgba(0, 0, 0, 0.11);
}

.options {
 /* display: flex; */
 flex-direction: column;
 display: none;
}

.optionitem {
 padding: 0.5em 0.75em;
 border: none;
 background: transparent;
}

.dropdown>.options>.optionitem {
 border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

.dropdown>.options>.optionitem:hover {
 background: rgba(0, 0, 0, 0.11);
}

.dropdown>.options>.optionitem:first-child {
 border-top: 1px solid rgba(0, 0, 0, 0.247);
}

.dropdown>.options>.optionitem:last-child {
 border-radius: 0rem 0rem 0.5rem 0.5rem;
 border: none !important;
}

/* Dropdown Rules */

input[type="checkbox"] {
 height: 1rem;
 width: 1rem;
 cursor: pointer;
 transition: all 0.1s ease-in-out;
 accent-color: lightgreen;
 border-style: none;
}

input[type="checkbox"]:active {
 transform: scale(0.8);
}

.checkbox-body {
 height: 1rem;
 width: 1rem;
 background-color: #eee;
 border: none;
 border-radius: 4px;
 /* background:url('icons8-tick.svg') no-repeat; */
 background-position: center !important;
 background-size: contain !important;
 background-repeat: no-repeat !important;
 transition: all 0.1s ease-in-out;
 cursor: pointer;
}

.checkbox-body:active {
 transform: scale(0.9);
}

.checkbox {
 height: 1rem;
 width: 1rem;
 background-color: #eee;
 border: none;
 border-radius: 4px;
 /* background:url('icons8-tick.svg') no-repeat; */
 background-position: center !important;
 background-size: contain !important;
 background-repeat: no-repeat !important;
}

.labelCheckbox {
 width: 1rem;
 height: 1rem;
 border: 1px solid gray;
 background-color: white;
 border-radius: 4px;
 transition: all 0.1s ease-in-out;
}

.labelCheckbox:active {
 outline: none;
 transform: scale(0.9);
}

.inputChkLabel {
 display: none;
}

.inputChkLabel:checked+.labelCheckbox {
 background-image: url('./icons8-tick.svg');
 background-position: center;
 background-size: contain;
 background-color: lightgreen;
 border-color: lightgreen;
}

/* Default Table */

table {
 background-color: #eee;
 /* padding: 2px; */
 border-radius: 10px;
}

thead>tr>th {
 color: black !important;
}

thead>tr>th,
tbody>tr>td {
 padding: 8px;
 font-size: 14px;
}

thead {
 background: rgb(199, 199, 199);
}

thead>tr>th:first-child {
 border-top-left-radius: 8px;
}

thead>tr>th:last-child {
 border-top-right-radius: 8px;
}

tbody>tr:nth-child(2n) {
 background: #dddddd;
}

tbody>tr:last-child>td:first-child {
 border-bottom-left-radius: 8px;
}

tbody>tr:last-child>td:last-child {
 border-bottom-right-radius: 8px;
}

tbody>tr:nth-child(n):hover {
 background: lightgray;
}

/* Default Table */

/* Table colors */

.table-theme-green>thead {
 background: rgb(190, 255, 190);
}

.table-theme-green>tbody>tr:nth-child(2n) {
 background: rgb(184, 241, 184);
}

.table-theme-green>tbody>tr:nth-child(n):hover {
 background: rgb(149, 202, 149);
}

.table-theme-blue>thead {
 background: rgb(190, 246, 255);
}

.table-theme-blue>tbody>tr:nth-child(2n) {
 background: rgb(184, 234, 241);
}

.table-theme-blue>tbody>tr:nth-child(n):hover {
 background: rgb(178, 203, 214);
}

/* Table colors */

.inputtext {
 border: none;
 transition: all 0.1s ease-in-out;
 padding: 8px;
 border-radius: 4px;
 font-size: 1rem;
 background: #eee;
}

.inputtext:active {
 outline: none;
 scale: 0.98;
}

.inputtext:hover {
 filter: brightness(0.95);
}

.inputcolor {
 border: none;
 border-radius: 4px;
 transition: all 0.5s ease-in-out;
 height: 2rem;
 width: 2rem;
 background: #eee;
}

.inputcolor:active {
 outline: none;
 scale: 0.98;
}

.inputdate {
 border: none;
 padding: 8px;
 border-radius: 4px;
 transition: all 0.1s ease-in-out;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
 text-transform: uppercase;
 background: #eee;
}

.inputdate:active {
 outline: none;
 scale: 0.98;
}

.inputdate:hover {
 filter: brightness(0.9);
}

.accordian {
 background: #eee;
 padding: 8px;
 border-radius: 8px;
 width: 100%;
}

.accordian-button {
 display: flex;
 gap: 4rem;
 justify-content: space-between;
 width: 100%;
 background: none;
 border: none;
 padding: 4px;
}

.accordian-button:hover {
 background: #dbdbdb;
}

.accordian-button>p {
 margin: 0;
}

.accordian-content {
 display: none;
}

/* Badges or tags */

.badge-info,
.badge-warn,
.badge-error,
.badge-success,
.badge-count {
 margin: 0;
 padding: 2px 10px;
 border-radius: 1rem;
 font-size: 14px;
 font-weight: 500;
}

.badge-info {
 background-color: rgb(29, 165, 243);
}

.badge-warn {
 background-color: gold;
}

.badge-error {
 background-color: lightcoral;
}

.badge-success {
 background-color: lightgreen;
}

.badge-count {
 outline: 2px solid rgb(29, 165, 243);
 background-color: white;
 padding: 0px 8px;
}

/* Badges or tags */

.card-text,
.card-quote,
.card-comment,
.card-img-text {
 background-color: white;
 padding: 1rem;
 border: none;
 display: flex;
 flex-direction: column;
 border-radius: 12px;
}

.card-text>h1 {
 padding-bottom: 1rem;
 border-bottom: 1px solid lightgray;
 margin-top: 0;
}

.card-quote {
 margin-top: 0;
}

.card-quote-head>h1 {
 text-align: center;
 padding-bottom: 1rem;
 border-bottom: 1px solid lightgray;
 margin-top: 0;
}

.card-quote-body>p {
 text-align: center;
 font-style: italic;
}

.card-quote-body>p:last-of-type {
 text-align: right;
}

.card-comment-head {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid lightgray;
 padding-bottom: 8px;
 padding-top: 8px;
}

.card-comment-head>img {
 height: 4rem;
 width: 4rem;
 border-radius: 50%;
}

.card-comment-head>div {
 margin-left: auto;
 margin-right: auto;
 margin-top: 0;
}

.card-comment-body>p {
 text-align: center;
}

.card-img-text {
 padding: 1rem 0;
 width: max-content;
}

.card-img-text>.card-img-text-head,
.card-img-text>.card-img-text-footer {
 padding-left: 1rem;
 padding-right: 1rem;
}

.card-img-text>.card-img-text-head>h1 {
 margin-top: 0;
}

/* carousel rules */

.carousel,
.carouselAuto {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
 height: 100%;
}

.carouselContentContainer>img:first-of-type {
 display: block;
}

.carouselContentContainer>*:not(:first-of-type) {
 display: none;
}

.img-slide-previous,
.img-slide-next {
 margin: 0;
 padding: 0;
}

.carousel>.carouselContentContainer>img,
.carouselAuto>.carouselContentContainer>img {
 border-radius: 8px;
}

.carousel>*>button,
.carouselAuto>*>button {
 font-size: 1.75rem;
}

.img-slide-previous>button {
 /* left: 0; */
 border-radius: 0 4rem 4rem 0;
 margin-right: -5rem;
}

.img-slide-next>button {
 /* right: 0; */
 border-radius: 4rem 0 0 4rem;
 margin-left: -4.8rem;
}

.carouselContentContainer>.carouselDiv:first-of-type {
 display: block;
}

.carouselContentContainer>.carouselDiv:not(:first-of-type) {
 display: none;
}

/* carousel rules */

/* Bread Crumbs rules */
.bread {
 list-style: none;
 padding-left: 0;
}

.crumbs {
 display: inline;
}

.crumbs>* {
 color: dodgerblue;
}

.crumbs>*:visited {
 color: dodgerblue;
}

.crumbs:last-of-type>* {
 color: navy;
}

.crumbs>*:hover {
 color: navy;
}

.bread>.crumbs:not(:first-child)::before {
 content: ">";
 padding: 0 8px;
}

.bread>.crumbsTriangle:not(:first-child)::before {
 content: "▸" !important;
}

.bread>.crumbsArrow:not(:first-child)::before {
 content: "→" !important;
}

/* Bread Crumbs rules */

/* Navbar Rules*/
.navbar {
 width: 100%;
 background: rgb(240, 240, 240);
}

.navWrapper:not(:has(.navBrand)) {
 display: flex;
 justify-content: center !important;
}

.navWrapper:has(.navBrand) {
 padding: 1rem;
}

.navWrapper:has(.navBrand)>.navBrand>h1 {
 margin: 0;
}

.navList {
 display: flex;
 padding-left: 0;
 gap: 3rem;
 list-style: none;
 justify-content: center;
 flex-wrap: wrap;
}

.navItems {
 /* padding: 1rem; */
 font-size: 2.5rem;
 font-weight: 500;
}

.navList>.navItems>*,
.hiddenNavList>.navItems>* {
 color: black;
 text-decoration: none;
}

.navList>.navItems>*:visited,
.hiddenNavList>.navItems>*:visited {
 color: black;
}

.navList>.navItems:hover,
.hiddenNavList>.navItems:hover {
 background-color: lightgray;
}

.NavResponsive>.navWrapper {
 display: flex;
 flex-direction: row !important;
 align-items: center;
 justify-content: space-between;
}

.NavResponsive>.navWrapper>.navList {
 margin-left: auto;
}

.navWrapper:not(:has(.navBrand)):has(.navActions)>.navList {
 padding-right: 1rem;
}

.navWrapper>.navActions>button {
 background-color: none;
 border: none;
 cursor: pointer;
 font-size: 2rem;
 display: none;
}

.hiddenNavList {
 list-style: none;
 padding-left: 0;
 text-align: center;
 display: none;
}

.navBrand {
 display: flex;
 flex-wrap: nowrap;
 align-items: center;
 gap: 1rem;
}

.navBrand>h1 {
 font-size: 3.5rem;
 margin: 0;
}

.navLogo {
 height: 6rem;
 width: 6rem;
 margin-left: 1rem;
 border-radius: 50%;
}

.navWrapper:has(.navBrand) {
 gap: 3rem;
}

@media screen and (max-width: 1200px) {
 .NavResponsive>.navWrapper>.navActions>button {
  display: block !important;
  /* padding: 1.5rem; */
  margin-left: auto;
 }

 .NavResponsive>.navWrapper>.navList {
  display: none;
 }

 .NavResponsive>.navWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
}

/* Navbar Rules */

/* Timeline rules */
.timeline {
 width: 100%;
 height: 3rem;
 text-wrap: nowrap;
 display: flex;
 align-items: center;
}

.timeline {
 list-style: none;
 padding-left: 0;
}

.timeline>li {
 display: inline;
}

.timelineItems {
 display: inline;
 /* border: 2px solid; */
 font-weight: 500;
 border-radius: 50%;
 padding: 8px 14px;
}

.timeline li:not(:first-of-type):before {
 content: "------->";
 /* border-bottom: 1px solid black; */
 margin-left: 0px;
}

.timelineDone {
 background-color: var(--success-color) !important;
}

.timelineActive {
 background-color: lightblue !important;
}

.timelineToactive {
 background: linear-gradient(to right, var(--success-color), lightblue);
}

.timelineItems:not(.timelineActive):not(.timelineDone) {
 border: 1px solid grey;
}

/* Timeline rules */

/* Timeline div rules */

.timelinediv {
 text-wrap: nowrap;
 display: flex;
 align-items: center;
 gap: 0;
}

.timelinedivItem {
 font-weight: 500;
}


.timelinedivconnector {
 height: 4px;
 width: 4rem;
 background-color: #eee;
 border-color: #eee;
}

.timelinedivItem p {
 margin: 0;
 text-align: center;
}

.timelineAtPlace {
 border-radius: 10px;
 padding: 2px 4px;
}

p.timelineAtPlace:not(.timelineActive):not(.timelineDone):not(:is()) {
 background-color: #eee !important;
 padding: 2px 1rem;
}

/* Timeline div rules */

/* Tab Rules */
.tabs {
 background-color: #eee;
 border-radius: 6px;
}

.tabBar {
 padding: 0.25rem;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 gap: 0.5rem;
 background-color: #dddddd;
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
}

/* .tabBar > button:first-of-type {
  border-top-left-radius: 6px;
}

.tabBar > button:last-of-type {
  border-top-right-radius: 6px;
} */

.tabBar>button {
 border: none;
 font-size: 1.25rem;
 border-radius: 8px;
 padding: 0.5rem;
 box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.158);
}

.tabBar>button:is(.tabActive) {
 box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.267);
}

.tabBar>button:hover {
 cursor: pointer;
}

.tabBar>button:not(.tabActive) {
 background-color: rgb(207, 207, 207);
}

.tabBar>button:not(.tabActive):hover {
 background-color: gray;
}

/* .tabBar > button:not(:last-of-type) {
  border-right: 1px solid rgb(194, 194, 194);
} */

.tabBody {
 padding: 0.5rem;
 display: flex;
 justify-content: center;
}

.tabBody>.tabContent:not(:first-of-type) {
 display: none;
}

/* Tab Rules */

/* input range */
input[type="range"] {
 -webkit-appearance: none !important;
 appearance: none !important;
 background: #dbdbdb;
 height: 1rem;
 border-radius: 1rem;
}

input[type='range']::-webkit-slider-thumb {
 border-radius: 1rem;
 padding: 12px;
 box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);

}

/* input range */

/* code Rules */
.code {
 background-color: lightgrey;
 padding: 0.5rem;
 border-radius: 4px;
 color: black;
 outline: 3px double darkgrey;
}

/* code Rules */

/* Mock Browser Rules */

.browser {
 background-color: #eee;
 border-radius: 6px;
}

.browser-title-bar {
 background-color: lightgray;
 padding: 6px;
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
 display: flex;
 align-items: center;
 gap: 1rem;
}

.browser-buttons {
 display: flex;
 gap: 0.5rem;
}

.browser-buttons>div {
 height: 1rem;
 width: 1rem;
 border-radius: 1rem;
 box-shadow: inset 0px 2px 8px rgb(0, 0, 0, 0.15);
}

.browser-buttons>div:nth-child(1) {
 background-color: var(--error-color);
}

.browser-buttons>div:nth-child(2) {
 background-color: var(--warn-color);
}

.browser-buttons>div:nth-child(3) {
 background-color: var(--success-color);
}

.browser-buttons>div:hover {
 filter: brightness(0.75);
}

.browser-mobile>.browser-title-bar>.browser-buttons {
 display: none;
}

.browser-address-bar {
 margin-left: auto;
 margin-right: auto;
 display: flex;
 gap: 1rem;
 color: gray;
 align-items: center;
}

.browser-address-bar>div:first-child,
.browser-address-bar>div:last-child {
 color: bla;
}

.browser-address-bar>div:nth-child(2) {
 border: 3px double darkgray;
 border-radius: 1rem;
 padding: 0.125rem 1rem;
 text-wrap: nowrap;
}

.browser-address-bar>div:nth-child(2)::before {
 content: "🔒 https://";
}

.browser-body {
 padding: 8px;
 color: darkgray;
}

.mobile-border {
 border: 8px solid;
 background-color: lightgray;
 border-radius: 16px;
}

.mobile-notch {
 height: 1.5rem;
 width: 5rem;
 background-color: black;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
 margin-left: auto;
 margin-right: auto;
}

.camera-punch {
 height: 12px;
 width: 12px;
 border: none;
 border-radius: 12px;
 background-color: rgb(48, 48, 48);
 margin-left: auto;
 margin-right: auto;
}

.mobile-button {
 height: 2rem;
 width: 2px;
 background-color: black;
 border-top-right-radius: 6px;
 border-bottom-right-radius: 6px;
 border-right: 2px solid rgb(90, 90, 90);
 border-top: 2px solid rgb(90, 90, 90);
 border-bottom: 2px solid rgb(90, 90, 90);
}

.mobile-wrapper {
 display: flex;
}

.mobile-buttons {
 margin-top: 15%;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 gap: 1rem;
}

.mobile-buttons>.mobile-button:last-of-type {
 margin-top: 2.5rem;
}

/* Mock Browser Rules */

/* Pagination Rules */
.pagination {
 padding: 4px;
 display: flex;
 gap: 10px;
 color: white;
 border-radius: 8px;
 align-items: center;
}

.pagination>a {
 text-decoration: none;
 color: white;
 height: 2rem;
 width: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 500;
}

.bg-glass-scheme.pagination>a {
 color: white;
}

.bg-glass-scheme.pagination>a:visited {
 color: white;
}

.pagination>a {
 color: black;
}

.pagination>a:visited {
 color: black;
}

.pagination>a:hover {
 background-color: rgba(255, 255, 255, 0.452);
 border-radius: 6px;
}

.pagination.bg-white>a:hover {
 background-color: rgb(189, 189, 189);
 border-radius: 6px;
}

.pagination.bg-white>.pageSelect>.dropdown {
 background-color: lightgray;
}

.pagination>a:last-of-type,
.pagination>a:first-of-type {
 /* outline: 1px solid; */
 border-radius: 6px;
 /* outline-color: rgba(255, 255, 255, 0.541); */
 background-color: rgba(255, 255, 255, 0.822);
 color: black;
}

.pagination.bg-white>a:last-of-type,
.pagination.bg-white>a:first-of-type {
 /* outline: 1px solid; */
 border-radius: 6px;
 /* outline-color: rgba(255, 255, 255, 0.541); */
 background-color: black;
 color: white;
}

.pagination.bg-black>a {
 color: white;
}

.pagination.bg-black>a:last-of-type,
.pagination.bg-black>a:first-of-type {
 /* outline: 1px solid; */
 border-radius: 6px;
 /* outline-color: rgba(255, 255, 255, 0.541); */
 background-color: white;
 color: black;
}

.currentPage {
 background-color: rgba(255, 255, 255, 0.438);
 border-radius: 6px;
}

.pagination.bg-white>a.currentPage {
 background-color: lightgray;
}

.pagination>select {
 background-color: rgba(255, 255, 255, 0.226);
 color: white;
 height: 2rem;
 border-radius: 6px;
 border: none;
}

.pagination>select>option {
 text-align: center;
 color: black;
}

.pageSelect {
 width: max-content;
}

.pageSelect>.dropdown {
 background-color: rgba(255, 255, 255, 0.226);
}

.pagination.bg-black>.pageSelect>.dropdown {
 background-color: rgba(255, 255, 255, 0.822);
}

/* .pageSelect > .dropdown > * > *, .pageSelect > .dropdown > * {
  color: white ;
} */

/* Pagination Rules */

/* Radio Rules */
.radio-wrapper {
 height: 1rem;
 width: 1rem;
 border-radius: 1rem;
 border: 1px solid rgb(0, 0, 0, 0.5);
 padding: 1px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.radio {
 width: 75%;
 height: 75%;
 border-radius: 50%;
 border: none;
}

.radio>input[type="radio"] {
 display: none;
}

.radio:has(input[type="radio"]):hover {
 background-color: lightgray;
 transition: 0.4s;
}


.radio:has(input[type="radio"]:checked) {
 background-color: gray;
}

.radio:has(input[type="radio"]:checked.bg-success-color) {
 background-color: var(--success-color);
}

.radio:has(input[type="radio"]:checked.bg-info-color) {
 background-color: var(--info-color);
}

.radio:has(input[type="radio"]:checked.bg-warn-color) {
 background-color: var(--warn-color);
}

.radio:has(input[type="radio"]:checked.bg-error-color) {
 background-color: var(--error-color);
}

/* Radio Rules */

/* Toggle Rules */
.toggle>input[type="checkbox"] {
 display: none;
}

.toggle {
 height: 1.5rem;
 width: 3rem;
 /* border: 2px solid; */
 border-radius: 2rem;
 cursor: pointer;
}

.toggle:has(input[type="checkbox"]:checked) {
 background-color: black;
 transition: 1s;
}

.toggle:not(:has(input[type="checkbox"]:checked)) {
 background-color: white;
 transition: 1s;
}

.toogle-switch {
 background-color: black;
 height: 1.5rem;
 width: 1.5rem;
 border-radius: 50%;
 position: absolute;
 transition: 0.4s;
}

input[type="checkbox"]:checked+.toogle-switch {
 background-color: lightgray;
 transform: translateX(1.5rem);
 transition: 0.4s;
}
/* Toggle Rules */
