:root {
 --info-color: rgb(57, 168, 233);
 --info-color-darker: rgb(43, 134, 187);
 --warn-color: gold;
 --error-color: lightcoral;
 --success-color: lightgreen;
 --success-color-darker: rgb(111, 180, 111);
 --trust-blue: rgb(57, 55, 187);
 --trust-blue-darker: rgb(79, 116, 184);
 --standard-gray: gray;
}

.user-select-none {
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* scroll behaviour */
.smooth-scroll {
 scroll-behavior: smooth;
}

.thin-scrollbar::-webkit-scrollbar {
 height: 8px;
 width: 8px;
}

.thin-scrollbar::-webkit-scrollbar-track {
 background: #f1f1f131;
 border-radius: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
 background: #cccccc36;
 border-radius: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
 background: #bbb;
}

/* scroll behaviour */


/* Background Rules */
.backdrop-darken {
 backdrop-filter: brightness(0.75);
}

/* Background Rules */

/* Color and Background Color Rules */
.info-color {
 color: var(--info-color);
}

.warn-color {
 color: var(--warn-color);
}

.error-color {
 color: var(--error-color);
}

.success-color {
 color: var(--success-color);
}

.bg-info-color {
 background-color: var(--info-color);
}

.bg-info-color-darker {
 background-color: var(--info-color-darker);
}

.bg-warn-color {
 background-color: var(--warn-color);
}

.bg-error-color {
 background-color: var(--error-color);
}

.bg-success-color {
 background-color: var(--success-color);
}

.bg-success-color-darker {
 background-color: var(--success-color-darker);
}

.bg-trust-blue {
 background-color: var(--trust-blue);
}

.bg-standard-gray {
 background-color: var(--standard-gray);
}

.bg-white {
 background-color: white !important;
}

.bg-black {
 background-color: black !important;
}

.bg-gray {
 background-color: #555 !important;
}

.text-black {
 color: black !important;
}

.text-white {
 color: white !important;
}

/* Color and Background Color Rules */

/* font rules */
.font-family-system-segoe {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.font-size-1-r {
 font-size: 1rem;
}

.font-size-1-25-r {
 font-size: 1.25rem;
}

.font-size-1-5-r {
 font-size: 1.5rem;
}

.font-size-1-75-r {
 font-size: 1.75rem;
}

.font-size-2-r {
 font-size: 2rem;
}

.font-size-2-25-r {
 font-size: 2.25rem;
}

.font-size-2-5-r {
 font-size: 2.5rem;
}

.font-size-2-75-r {
 font-size: 2.75rem;
}

.font-size-3-r {
 font-size: 3rem;
}

.font-size-3-25-r {
 font-size: 3.25rem;
}

.font-size-3-5-r {
 font-size: 3.5rem;
}

.font-size-3-75-r {
 font-size: 3.75rem;
}

.font-size-4-r {
 font-size: 4rem;
}

.font-size-4-25-r {
 font-size: 4.25rem;
}

.font-size-4-5-r {
 font-size: 4.5rem;
}

.font-size-4-75-r {
 font-size: 4.75rem;
}

.font-size-5-r {
 font-size: 5rem;
}

/* font rules */

*:focus {
 outline: none;
}

/* Dimension Rules */
.w-100 {
 width: 50%;
}

.w-100 {
 width: 100%;
}

.w-min-con {
 width: min-content;
}

.w-max-con {
 width: max-content;
}

.w-fit-con {
 width: fit-content;
}

.h-100 {
 height: 100%;
}

.h-min-con {
 height: min-content;
}

.h-max-con {
 height: max-content;
}

.h-fit-con {
 height: fit-content;
}

/* Dimension Rules */

/* Border Rules */
.br-rad-inherit {
 border-radius: inherit;
}

.br-rad-0 {
 border-radius: 0 !important;
}

.br-rad-5 {
 border-radius: 5% !important;
}

.br-rad-10 {
 border-radius: 10% !important;
}

.br-rad-15 {
 border-radius: 15% !important;
}

.br-rad-25 {
 border-radius: 25% !important;
}

.br-rad-50 {
 border-radius: 50% !important;
}

.br-rad-6px {
 border-radius: 6px !important;
}

.br-rad-8px {
 border-radius: 8px !important;
}

.br-rad-10px {
 border-radius: 10px !important;
}

.ring-1 {
 outline: 0.5px dashed #ccc;
}

/* Border Rules */

/* Position rules */
.sticky-top {
 position: sticky;
 top: 0;
}

.fixed-bottom {
 position: fixed;
 bottom: 0;
}

/* Position rules */

/* Flex Rules */
.flex-jc-ac {
 display: flex;
 justify-content: center;
 align-items: center;
}

.flex-jc-ac-col {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 /* gap: 1rem; */
}

.flex-jc-ac-row {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 /* gap: 1rem; */
}

.flex-wrap {
 flex-wrap: wrap;
}

.align-self-stretch {
 align-self: stretch !important;
}

.gap-0 {
 gap: 0 !important;
}

.gap-05r {
 gap: 0.5rem;
}

.gap-1r {
 gap: 1rem;
}

.gap-2r {
 gap: 2rem;
}

.gap-3r {
 gap: 3rem;
}

.gap-4r {
 gap: 4rem;
}

/* Flex Rules */

/* z-indexing */
.z-index-n1 {
 z-index: -1 !important;
}

.z-index-0 {
 z-index: 0 !important;
}

.z-index-1 {
 z-index: 1 !important;
}

.z-index-2 {
 z-index: 2 !important;
}

.z-index-3 {
 z-index: 3 !important;
}

/* z-indexing */

/* height and width rules */

.h-1 {
 height: 1rem !important;
}

.w-1 {
 width: 1rem !important;
}

.h-2 {
 height: 2rem !important;
}

.w-2 {
 width: 2rem !important;
}

.h-3 {
 height: 3rem !important;
}

.w-3 {
 width: 3rem !important;
}

/* increase height and width by same ration */

/* Margin Rules */

.m-0 {
 margin: 0;
}

.m-1 {
 margin: 1%;
}

.m-2 {
 margin: 2%;
}

.m-3 {
 margin: 3%;
}

.m-4 {
 margin: 4%;
}

.m-5 {
 margin: 5%;
}

.m-6 {
 margin: 6%;
}

.m-t-a {
 margin-top: auto;
}

.m-t-0 {
 margin-top: 0;
}

.m-t-1 {
 margin-top: 1%;
}

.m-t-2 {
 margin-top: 2%;
}

.m-t-3 {
 margin-top: 3%;
}

.m-t-4 {
 margin-top: 4%;
}

.m-t-5 {
 margin-top: 5%;
}

.m-t-6 {
 margin-top: 6%;
}

/*  */

.m-b-a {
 margin-bottom: auto;
}

.m-b-0 {
 margin-bottom: 0;
}

.m-b-1 {
 margin-bottom: 12rem;
}

.m-b-2 {
 margin-bottom: 2%;
}

.m-b-3 {
 margin-bottom: 3%;
}

.m-b-4 {
 margin-bottom: 4%;
}

.m-b-5 {
 margin-bottom: 5%;
}

.m-b-6 {
 margin-bottom: 6%;
}

/*  */

.m-l-0 {
 margin-left: 0;
}

.m-l-a {
 margin-left: auto;
}

.m-r-0 {
 margin-right: 0;
}

.m-r-1r {
 margin-right: 1rem;
}

.m-r-2r {
 margin-right: 2rem;
}

.m-r-a {
 margin-right: auto;
}

/* Margin Rules */

/* Paddin Rules */

.p-0 {
 padding: 0 !important;
}

.p-1 {
 padding: 1% !important;
}

.p-2 {
 padding: 2% !important;
}

.p-3 {
 padding: 3% !important;
}

.p-4 {
 padding: 4% !important;
}

.p-5 {
 padding: 5% !important;
}

.p-x-0 {
 padding-left: 0 !important;
 padding-right: 0 !important;
}

.p-x-1 {
 padding-left: 1% !important;
 padding-right: 1% !important;
}

.p-x-2 {
 padding-left: 2% !important;
 padding-right: 2% !important;
}

.p-x-3 {
 padding-left: 3% !important;
 padding-right: 3% !important;
}

.p-x-4 {
 padding-left: 4% !important;
 padding-right: 4% !important;
}

.p-x-5 {
 padding-left: 5% !important;
 padding-right: 5% !important;
}

.p-y-1 {
 padding-top: 1% !important;
 padding-bottom: 1% !important;
}

.p-y-2 {
 padding-top: 2% !important;
 padding-bottom: 2% !important;
}

.p-y-3 {
 padding-top: 3% !important;
 padding-bottom: 3% !important;
}

.p-y-4 {
 padding-top: 4% !important;
 padding-bottom: 4% !important;
}

.p-y-5 {
 padding-top: 5% !important;
 padding-bottom: 5% !important;
}

.p-y-5 {
 padding-top: 5% !important;
 padding-bottom: 5% !important;
}

.p-y-6 {
 padding-top: 6% !important;
 padding-bottom: 6% !important;
}

.p-y-7 {
 padding-top: 7% !important;
 padding-bottom: 7% !important;
}

.p-y-8 {
 padding-top: 8% !important;
 padding-bottom: 8% !important;
}

.p-y-9 {
 padding-top: 9% !important;
 padding-bottom: 9% !important;
}

.p-y-10 {
 padding-top: 10% !important;
 padding-bottom: 10% !important;
}

.p-05-r {
 padding: 0.5rem;
}

.p-1r {
 padding: 1rem;
}

.p-2r {
 padding: 2rem;
}

.p-3r {
 padding: 3rem;
}

/* Paddin Rules */

/* text rules */
.text-center {
 text-align: center;
}

.text-left {
 text-align: left;
}

.text-right {
 text-align: right;
}

/* text rules */

/* background color rules */

.bg-eee {
 background: #eee !important;
}

.link-button {
 text-wrap: nowrap;
 text-decoration: none;
 font-weight: 500;
 padding: 4px 8px;
 border-radius: 6px;
 width: fit-content;
}

.link-button:visited {
 text-decoration: none;
 color: initial;
}

.link-button:hover {
 outline: none;
}

/* background color rules */

/* effect rules */

.ease-in-out-scale {
 transition: all 0.1s ease-in-out;
}

.ease-in-out-scale:active {
 outline: none;
 transform: scale(0.95);
}

/* effect rules */

/* border rules */
.border-radius-sm {
 border-radius: 4px;
}

.border-radius-m {
 border-radius: 8px;
}

/* border rules */

.outlined {
 outline: 1px solid black;
}

.shadow-default {
 box-shadow: 4px 4px 8px rgba(2, 0, 0, 0.25);
}

.button {
 padding: 0.75em 1em;
 border: none;
 border-radius: 0.5em;
 font-weight: 500;
 transition: all 0.1s ease-in-out;
}

.button:hover {
 filter: brightness(95%);
}

.button:active {
 filter: brightness(90%);
 transform: scale(0.95);
}

.bg-transparent-black-scheme {
 background: rgba(0, 0, 0, 0.473) !important;
 color: rgb(255, 255, 255) !important;
 text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.185);
}

.bg-glass-scheme {
 background: rgba(0, 0, 0, 0.342) !important;
 color: rgba(255, 255, 255, 0.884);
 text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.185);
 backdrop-filter: blur(6px);
}

.select {
 padding: 0.75em 1em;
 border: none;
 border-radius: 0.5em;
 font-weight: 500;
 transition: all 0.1s ease-in-out;
}

.select:hover {
 filter: brightness(95%);
}

.select:active {
 filter: brightness(90%);
 transform: scale(0.98);
}

.select-options {
 padding: 0.75em 1em;
 border: none;
 border-radius: 0.5em;
 font-weight: 500;
 transition: all 0.1s ease-in-out;
 background: white;
}

/* Dropdown Rules */

.dropdown {
 /* padding: 0.5em 0.75em; */
 border: none;
 border-radius: 0.5em;
 transition: all 0.1s ease-in-out;
 background: #eee;
 z-index: 3;
}

.dropdown:active {
 filter: brightness(90%);
 transform: scale(0.98);
}

.dropdown>button {
 border: none;
 background: transparent;
 width: 100%;
 padding: 0.5em 0.75em;
 border-radius: 0.5rem;
}

.dropdown>button:hover {
 background: rgba(0, 0, 0, 0.11);
}

.options {
 /* display: flex; */
 flex-direction: column;
 display: none;
}

.optionitem {
 padding: 0.5em 0.75em;
 border: none;
 background: transparent;
}

.dropdown>.options>.optionitem {
 border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

.dropdown>.options>.optionitem:hover {
 background: rgba(0, 0, 0, 0.11);
}

.dropdown>.options>.optionitem:first-child {
 border-top: 1px solid rgba(0, 0, 0, 0.247);
}

.dropdown>.options>.optionitem:last-child {
 border-radius: 0rem 0rem 0.5rem 0.5rem;
 border: none !important;
}

/* Dropdown Rules */

input[type="checkbox"] {
 height: 1rem;
 width: 1rem;
 cursor: pointer;
 transition: all 0.1s ease-in-out;
 accent-color: lightgreen;
 border-style: none;
}

input[type="checkbox"]:active {
 transform: scale(0.8);
}

.checkbox-body {
 height: 1rem;
 width: 1rem;
 background-color: #eee;
 border: none;
 border-radius: 4px;
 /* background:url('icons8-tick.svg') no-repeat; */
 background-position: center !important;
 background-size: contain !important;
 background-repeat: no-repeat !important;
 transition: all 0.1s ease-in-out;
 cursor: pointer;
}

.checkbox-body:active {
 transform: scale(0.9);
}

.checkbox {
 height: 1rem;
 width: 1rem;
 background-color: #eee;
 border: none;
 border-radius: 4px;
 /* background:url('icons8-tick.svg') no-repeat; */
 background-position: center !important;
 background-size: contain !important;
 background-repeat: no-repeat !important;
}

.labelCheckbox {
 width: 1rem;
 height: 1rem;
 border: 1px solid gray;
 background-color: white;
 border-radius: 4px;
 transition: all 0.1s ease-in-out;
 display: block;
}

.labelCheckbox:active {
 outline: none;
 transform: scale(0.9);
}

.inputChkLabel {
 display: none;
}

.inputChkLabel:checked+.labelCheckbox {
 background-image: url('./icons8-tick.svg');
 background-position: center;
 background-size: contain;
 background-color: lightgreen;
 border-color: lightgreen;
}

/* Default Table */

table {
 background-color: #eee;
 /* padding: 2px; */
 border-radius: 10px;
}

thead>tr>th {
 color: black !important;
}

thead>tr>th,
tbody>tr>td {
 padding: 8px;
 font-size: 14px;
}

thead {
 background: rgb(199, 199, 199);
}

thead>tr>th:first-child {
 border-top-left-radius: 8px;
}

thead>tr>th:last-child {
 border-top-right-radius: 8px;
}

tbody>tr:nth-child(2n) {
 background: #dddddd;
}

tbody>tr:last-child>td:first-child {
 border-bottom-left-radius: 8px;
}

tbody>tr:last-child>td:last-child {
 border-bottom-right-radius: 8px;
}

tbody>tr:nth-child(n):hover {
 background: lightgray;
}

/* Default Table */

/* Table colors */

.table-theme-green>thead {
 background: rgb(190, 255, 190);
}

.table-theme-green>tbody>tr:nth-child(2n) {
 background: rgb(184, 241, 184);
}

.table-theme-green>tbody>tr:nth-child(n):hover {
 background: rgb(149, 202, 149);
}

.table-theme-blue>thead {
 background: rgb(190, 246, 255);
}

.table-theme-blue>tbody>tr:nth-child(2n) {
 background: rgb(184, 234, 241);
}

.table-theme-blue>tbody>tr:nth-child(n):hover {
 background: rgb(178, 203, 214);
}

/* Table colors */

.inputtext {
 border: none;
 transition: all 0.1s ease-in-out;
 padding: 8px;
 border-radius: 4px;
 font-size: 1rem;
 background: #eee;
}

.inputtext:active {
 outline: none;
 scale: 0.98;
}

.inputtext:hover {
 filter: brightness(0.95);
}

input[type="search"].inputtext {
 background-image: url('./icons8-search.svg');
 background-size: 1.5rem;
 background-repeat: no-repeat;
 background-position-x: 95%;
 background-position-y: center;
}

input[type="search"].inputtext:focus,
input[type="search"].inputtext:hover {
 background-image: none;
 background-size: 2rem;
 background-repeat: no-repeat;
 background-position: 95%;
}

.inputcolor {
 border: none;
 border-radius: 4px;
 transition: all 0.5s ease-in-out;
 height: 2rem;
 width: 2rem;
 background: #eee;
}

.inputcolor:active {
 outline: none;
 scale: 0.98;
}

.inputdate {
 border: none;
 padding: 8px;
 border-radius: 4px;
 transition: all 0.1s ease-in-out;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
 text-transform: uppercase;
 background: #eee;
}

.inputdate:active {
 outline: none;
 scale: 0.98;
}

.inputdate:hover {
 filter: brightness(0.9);
}

.accordian {
 background: #eee;
 padding: 8px;
 border-radius: 8px;
 width: 100%;
}

.accordian-button {
 display: flex;
 gap: 4rem;
 justify-content: space-between;
 width: 100%;
 background: none;
 border: none;
 padding: 4px;
}

.accordian-button:hover {
 background: #dbdbdb;
}

.accordian-button>p {
 margin: 0;
}

.accordian-content {
 display: none;
}

/* Badges or tags */

.badge-info,
.badge-warn,
.badge-error,
.badge-success,
.badge-count {
 margin: 0;
 padding: 2px 10px;
 border-radius: 1rem;
 font-size: 14px;
 font-weight: 500;
}

.badge-info {
 background-color: rgb(29, 165, 243);
}

.badge-warn {
 background-color: gold;
}

.badge-error {
 background-color: lightcoral;
}

.badge-success {
 background-color: lightgreen;
}

.badge-count {
 outline: 2px solid rgb(29, 165, 243);
 background-color: white;
 padding: 0px 8px;
}

/* Badges or tags */

.card-text,
.card-quote,
.card-comment,
.card-img-text {
 background-color: white;
 padding: 1rem;
 border: none;
 display: flex;
 flex-direction: column;
 border-radius: 12px;
}

.card-text>h1 {
 padding-bottom: 1rem;
 border-bottom: 1px solid lightgray;
 margin-top: 0;
}

.card-quote {
 margin-top: 0;
}

.card-quote-head>h1 {
 text-align: center;
 padding-bottom: 1rem;
 border-bottom: 1px solid lightgray;
 margin-top: 0;
}

.card-quote-body>p {
 text-align: center;
 font-style: italic;
}

.card-quote-body>p:last-of-type {
 text-align: right;
}

.card-comment-head {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid lightgray;
 padding-bottom: 8px;
 padding-top: 8px;
}

.card-comment-head>img {
 height: 4rem;
 width: 4rem;
 border-radius: 50%;
}

.card-comment-head>div {
 margin-left: auto;
 margin-right: auto;
 margin-top: 0;
}

.card-comment-body>p {
 text-align: center;
}

.card-img-text {
 padding: 1rem 0;
 width: max-content;
}

.card-img-text>.card-img-text-head,
.card-img-text>.card-img-text-footer {
 padding-left: 1rem;
 padding-right: 1rem;
}

.card-img-text>.card-img-text-head>h1 {
 margin-top: 0;
}

/* carousel rules */

.carousel,
.carouselAuto {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
 height: 100%;
}

.carouselContentContainer>img:first-of-type {
 display: block;
}

.carouselContentContainer>*:not(:first-of-type) {
 display: none;
}

.img-slide-previous,
.img-slide-next {
 margin: 0;
 padding: 0;
}

.carousel>.carouselContentContainer>img,
.carouselAuto>.carouselContentContainer>img {
 border-radius: 8px;
}

.carousel>*>button,
.carouselAuto>*>button {
 font-size: 1.75rem;
}

.img-slide-previous>button {
 /* left: 0; */
 border-radius: 0 4rem 4rem 0;
 margin-right: -5rem;
}

.img-slide-next>button {
 /* right: 0; */
 border-radius: 4rem 0 0 4rem;
 margin-left: -4.8rem;
}

.carouselContentContainer>.carouselDiv:first-of-type {
 display: block;
}

.carouselContentContainer>.carouselDiv:not(:first-of-type) {
 display: none;
}

/* carousel rules */

/* Bread Crumbs rules */
.bread {
 list-style: none;
 padding-left: 0;
}

.crumbs {
 display: inline;
}

.crumbs>* {
 color: rgba(0, 73, 153);
}

.crumbs>*:visited {
 color: rgba(0, 73, 153)
}

.crumbs:last-of-type>* {
 color: navy;
 font-weight: 500;
}

.crumbs>*:hover {
 color: navy;
}

.bread>.crumbs:not(:first-child)::before {
 content: ">";
 padding: 0 8px;
}

.bread>.crumbsTriangle:not(:first-child)::before {
 content: "▸" !important;
}

.bread>.crumbsArrow:not(:first-child)::before {
 content: "→" !important;
}

/* Bread Crumbs rules */

/* Navbar Rules*/
.navbar {
 width: 100%;
}

.navWrapper:not(:has(.navBrand)) {
 display: flex;
 justify-content: center !important;
}

.navWrapper:has(.navBrand) {
 padding: 1rem;
}

.navWrapper:has(.navBrand)>.navBrand>h1 {
 margin: 0;
}

.navList {
 display: flex;
 padding-left: 0;
 gap: 3rem;
 list-style: none;
 justify-content: center;
 flex-wrap: wrap;
}

.navItems {
 /* padding: 1rem; */
 font-size: 2.5rem;
 font-weight: 500;
}

.navList>.navItems>*,
.hiddenNavList>.navItems>* {
 color: black;
 text-decoration: none;
}

.navList>.navItems>*:visited,
.hiddenNavList>.navItems>*:visited {
 color: black;
}

.navList>.navItems {
 border-bottom: 4px solid transparent;
}

.navList>.navItems:hover,
.hiddenNavList>.navItems:hover {
 border-bottom: 4px solid white;
}

.NavResponsive>.navWrapper {
 display: flex;
 flex-direction: row !important;
 align-items: center;
 justify-content: space-between;
}

.NavResponsive>.navWrapper>.navList {
 margin-left: auto;
}

.navWrapper:not(:has(.navBrand)):has(.navActions)>.navList {
 padding-right: 1rem;
}

.navWrapper>.navActions>button {
 background-color: none;
 border: none;
 cursor: pointer;
 font-size: 2rem;
 display: none;
}

.hiddenNavList {
 list-style: none;
 padding-left: 0;
 text-align: center;
 display: none;
}

.navBrand {
 display: flex;
 flex-wrap: nowrap;
 align-items: center;
 gap: 1rem;
}

.navBrand>h1 {
 font-size: 3.5rem;
 margin: 0;
}

.navLogo {
 height: 6rem;
 width: 6rem;
 margin-left: 1rem;
 border-radius: 50%;
}

.navWrapper:has(.navBrand) {
 gap: 3rem;
}

@media screen and (max-width: 1200px) {
 .NavResponsive>.navWrapper>.navActions>button {
  display: block !important;
  /* padding: 1.5rem; */
  margin-left: auto;
 }

 .NavResponsive>.navWrapper>.navList {
  display: none;
 }

 .NavResponsive>.navWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
}

/* Navbar Rules */

/* Timeline rules */
.timeline {
 width: 100%;
 height: 3rem;
 text-wrap: nowrap;
 display: flex;
 align-items: center;
}

.timeline {
 list-style: none;
 padding-left: 0;
}

.timeline>li {
 display: inline;
}

.timelineItems {
 display: inline;
 /* border: 2px solid; */
 font-weight: 500;
 border-radius: 50%;
 padding: 8px 14px;
}

.timeline li:not(:first-of-type):before {
 content: "------->";
 /* border-bottom: 1px solid black; */
 margin-left: 0px;
}

.timelineDone {
 background-color: var(--success-color) !important;
}

.timelineActive {
 background-color: lightblue !important;
}

.timelineToactive {
 background: linear-gradient(to right, var(--success-color), lightblue);
}

.timelineItems:not(.timelineActive):not(.timelineDone) {
 border: 1px solid grey;
}

/* Timeline rules */

/* Timeline div rules */

.timelinediv {
 text-wrap: nowrap;
 display: flex;
 align-items: center;
 gap: 0;
}

.timelinedivItem {
 font-weight: 500;
}


.timelinedivconnector {
 height: 4px;
 width: 4rem;
 background-color: #eee;
 border-color: #eee;
}

.timelinedivItem p {
 margin: 0;
 text-align: center;
}

.timelineAtPlace {
 border-radius: 10px;
 padding: 2px 4px;
}

p.timelineAtPlace:not(.timelineActive):not(.timelineDone):not(:is()) {
 background-color: #eee !important;
 padding: 2px 1rem;
}

/* Timeline div rules */

/* Tab Rules */
.tabs {
 background-color: #eee;
 border-radius: 6px;
}

.tabBar {
 padding: 0.25rem;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 gap: 0.5rem;
 background-color: #dddddd;
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
}

/* .tabBar > button:first-of-type {
  border-top-left-radius: 6px;
}

.tabBar > button:last-of-type {
  border-top-right-radius: 6px;
} */

.tabBar>button {
 border: none;
 font-size: 1.25rem;
 border-radius: 8px;
 padding: 0.5rem;
 box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.158);
}

.tabBar>button:is(.tabActive) {
 box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.267);
}

.tabBar>button:hover {
 cursor: pointer;
}

.tabBar>button:not(.tabActive) {
 background-color: rgb(207, 207, 207);
}

.tabBar>button:not(.tabActive):hover {
 background-color: gray;
}

/* .tabBar > button:not(:last-of-type) {
  border-right: 1px solid rgb(194, 194, 194);
} */

.tabBody {
 padding: 0.5rem;
 display: flex;
 justify-content: center;
}

.tabBody>.tabContent:not(:first-of-type) {
 display: none;
}

/* Tab Rules */

/* input range */
input[type="range"] {
 -webkit-appearance: none !important;
 appearance: none !important;
 background: #dbdbdb;
 height: 1rem;
 border-radius: 1rem;
}

input[type='range']::-webkit-slider-thumb {
 border-radius: 1rem;
 padding: 12px;
 box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);

}

/* input range */

/* code Rules */
.code {
 background-color: lightgrey;
 padding: 0.5rem;
 border-radius: 4px;
 color: black;
 outline: 3px double darkgrey;
}

/* code Rules */

/* Mock Browser Rules */

.browser {
 background-color: #eee;
 border-radius: 6px;
}

.browser-title-bar {
 background-color: lightgray;
 padding: 6px;
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
 display: flex;
 align-items: center;
 gap: 1rem;
}

.browser-buttons {
 display: flex;
 gap: 0.5rem;
}

.browser-buttons>div {
 height: 1rem;
 width: 1rem;
 border-radius: 1rem;
 box-shadow: inset 0px 2px 8px rgb(0, 0, 0, 0.15);
}

.browser-buttons>div:nth-child(1) {
 background-color: var(--error-color);
}

.browser-buttons>div:nth-child(2) {
 background-color: var(--warn-color);
}

.browser-buttons>div:nth-child(3) {
 background-color: var(--success-color);
}

.browser-buttons>div:hover {
 filter: brightness(0.75);
}

.browser-mobile>.browser-title-bar>.browser-buttons {
 display: none;
}

.browser-address-bar {
 margin-left: auto;
 margin-right: auto;
 display: flex;
 gap: 1rem;
 color: black;
 align-items: center;
}

.browser-address-bar>div:first-child,
.browser-address-bar>div:last-child {
 color: bla;
}

.browser-address-bar>div:nth-child(2) {
 border: 3px double darkgray;
 border-radius: 1rem;
 padding: 0.125rem 1rem;
 text-wrap: nowrap;
}

.browser-address-bar>div:nth-child(2)::before {
 content: "🔒 https://";
}

.browser-body {
 padding: 8px;
 color: black;
}

.mobile-border {
 border: 8px solid;
 background-color: lightgray;
 border-radius: 16px;
}

.mobile-notch {
 height: 1.5rem;
 width: 5rem;
 background-color: black;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
 margin-left: auto;
 margin-right: auto;
}

.camera-punch {
 height: 12px;
 width: 12px;
 border: none;
 border-radius: 12px;
 background-color: rgb(48, 48, 48);
 margin-left: auto;
 margin-right: auto;
}

.mobile-button {
 height: 2rem;
 width: 2px;
 background-color: black;
 border-top-right-radius: 6px;
 border-bottom-right-radius: 6px;
 border-right: 2px solid rgb(90, 90, 90);
 border-top: 2px solid rgb(90, 90, 90);
 border-bottom: 2px solid rgb(90, 90, 90);
}

.mobile-wrapper {
 display: flex;
}

.mobile-buttons {
 margin-top: 15%;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 gap: 1rem;
}

.mobile-buttons>.mobile-button:last-of-type {
 margin-top: 2.5rem;
}

/* Mock Browser Rules */

/* Pagination Rules */
.pagination {
 padding: 4px;
 display: flex;
 gap: 10px;
 color: white;
 border-radius: 8px;
 align-items: center;
}

.pagination>a {
 text-decoration: none;
 color: white;
 height: 2rem;
 width: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 500;
}

.bg-glass-scheme.pagination>a {
 color: white;
}

.bg-glass-scheme.pagination>a:visited {
 color: white;
}

.pagination>a {
 color: black;
}

.pagination>a:visited {
 color: black;
}

.pagination>a:hover {
 background-color: rgba(255, 255, 255, 0.452);
 border-radius: 6px;
}

.pagination.bg-white>a:hover {
 background-color: rgb(189, 189, 189);
 border-radius: 6px;
}

.pagination.bg-white>.pageSelect>.dropdown {
 background-color: lightgray;
}

.pagination>a:last-of-type,
.pagination>a:first-of-type {
 /* outline: 1px solid; */
 border-radius: 6px;
 /* outline-color: rgba(255, 255, 255, 0.541); */
 background-color: rgba(255, 255, 255, 0.822);
 color: black;
}

.pagination.bg-white>a:last-of-type,
.pagination.bg-white>a:first-of-type {
 /* outline: 1px solid; */
 border-radius: 6px;
 /* outline-color: rgba(255, 255, 255, 0.541); */
 background-color: black;
 color: white;
}

.pagination.bg-black>a {
 color: white;
}

.pagination.bg-black>a:last-of-type,
.pagination.bg-black>a:first-of-type {
 /* outline: 1px solid; */
 border-radius: 6px;
 /* outline-color: rgba(255, 255, 255, 0.541); */
 background-color: white;
 color: black;
}

.currentPage {
 background-color: rgba(255, 255, 255, 0.438);
 border-radius: 6px;
}

.pagination.bg-white>a.currentPage {
 background-color: lightgray;
}

.pagination>select {
 background-color: rgba(255, 255, 255, 0.226);
 color: white;
 height: 2rem;
 border-radius: 6px;
 border: none;
}

.pagination>select>option {
 text-align: center;
 color: black;
}

.pageSelect {
 width: max-content;
}

.pageSelect>.dropdown {
 background-color: rgba(255, 255, 255, 0.226);
}

.pagination.bg-black>.pageSelect>.dropdown {
 background-color: rgba(255, 255, 255, 0.822);
}

/* .pageSelect > .dropdown > * > *, .pageSelect > .dropdown > * {
  color: white ;
} */

/* Pagination Rules */

/* Radio Rules */
.radio-wrapper {
 height: 1rem;
 width: 1rem;
 border-radius: 1rem;
 border: 1px solid rgb(0, 0, 0, 0.5);
 padding: 1px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.radio {
 width: 75%;
 height: 75%;
 border-radius: 50%;
 border: none;
}

.radio>input[type="radio"] {
 display: none;
}

.radio:has(input[type="radio"]):hover {
 background-color: lightgray;
 transition: 0.4s;
}


.radio:has(input[type="radio"]:checked) {
 background-color: gray;
}

.radio:has(input[type="radio"]:checked.bg-success-color) {
 background-color: var(--success-color);
}

.radio:has(input[type="radio"]:checked.bg-info-color) {
 background-color: var(--info-color);
}

.radio:has(input[type="radio"]:checked.bg-warn-color) {
 background-color: var(--warn-color);
}

.radio:has(input[type="radio"]:checked.bg-error-color) {
 background-color: var(--error-color);
}

/* Radio Rules */

/* Toggle Rules */
.toggle>input[type="checkbox"] {
 display: none;
}

.toggle {
 height: 1.5rem;
 width: 3rem;
 /* border: 2px solid; */
 border-radius: 2rem;
 cursor: pointer;
}

.toggle:has(input[type="checkbox"]:checked) {
 background-color: black;
 transition: 1s;
}

.toggle:not(:has(input[type="checkbox"]:checked)) {
 background-color: white;
 transition: 1s;
}

.toogle-switch {
 background-color: black;
 height: 1.5rem;
 width: 1.5rem;
 border-radius: 50%;
 position: absolute;
 transition: 0.4s;
}

input[type="checkbox"]:checked+.toogle-switch {
 background-color: lightgray;
 transform: translateX(1.5rem);
 transition: 0.4s;
}

/* Toggle Rules */

/* Divider Rules */
.divider-hr {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: center;
 /* gap: 8px; */
 color: gray;
 -webkit-user-select: none;
 /* Safari */
 -ms-user-select: none;
 /* IE 10 and IE 11 */
 user-select: none;
}

.divider-hr>div {
 height: 1px;
 width: 100%;
 background-color: lightgray;
}

.divider-hr>p {
 margin: 0 6px;
}

.divider-vr {
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 color: gray;
 height: 100%;
 -webkit-user-select: none;
 /* Safari */
 -ms-user-select: none;
 /* IE 10 and IE 11 */
 user-select: none;
 align-items: center;
}

.divider-vr>div {
 /* position: relative; Added */
 /* height: 100px; */
 width: 1px;
 background-color: lightgray;
}

.divider-vr>p {
 margin: 2px 0;
}

/* Divider Rules */

/* Drawer Rules */
.drawer-wrapper {
 background-color: rgba(0, 0, 0, 0.75);
 backdrop-filter: blur(4px);
 z-index: 2;
 position: absolute;
 display: none;
}

.drawer {
 width: max-content;
 padding: 1rem;
 background-color: white;
 display: flex;
 flex-direction: column;
 overflow-y: auto;
 transform: translateX(-100%);
}

.slidedrawer {
 transition: 0.25s;
 transform: translateX(0%);
}

.drawer>button {
 position: sticky;
 top: 0;
}

.drawer::-webkit-scrollbar {
 width: 8px;
}

.drawer::-webkit-scrollbar-track {
 background: #f1f1f1;
}

.drawer::-webkit-scrollbar-thumb {
 background: #ccc;
 border-radius: 6px;
}

.drawer::-webkit-scrollbar-thumb:hover {
 background: #bbb;
}

/* Drawer Rules */

/* Flex template rules */
@media screen and (max-width: 768px) {
 .flex-jc-ac-row {
  flex-wrap: wrap;
 }
}

/* Flex template rules */

/* Grid template rules */
.grid {
 display: grid;
}

.grid-row-1 {
 grid-row: 1;
}

.grid-row-2 {
 grid-row: 2;
}

.grid-row-3 {
 grid-row: 3;
}

.grid-row-4 {
 grid-row: 4;
}

.grid-col-1 {
 grid-column: 1;
}

.grid-col-2 {
 grid-column: 2;
}

.grid-col-3 {
 grid-column: 3;
}

.grid-col-4 {
 grid-column: 4;
}

.grid-col-5 {
 grid-column: 5;
}

.grid-col-6 {
 grid-column: 6;
}

.grid-col-span-1 {
 grid-column: span 1;
}

.grid-col-span-2 {
 grid-column: span 2;
}

.grid-col-span-3 {
 grid-column: span 3;
}

.grid-col-span-4 {
 grid-column: span 4;
}

.grid-row-span-1 {
 grid-row: span 1;
}

.grid-row-span-2 {
 grid-row: span 2;
}

.grid-row-span-3 {
 grid-row: span 3;
}

.grid-row-span-4 {
 grid-row: span 4;
}

.justify-self-start {
 justify-self: start;
}

.justify-self-center {
 justify-self: center;
}

.justify-self-end {
 justify-self: end;
}

.align-self-start {
 align-self: start;
}

.align-self-center {
 align-self: center;
}

.align-self-end {
 align-self: end;
}

.grid-col-2-1-1 {
 grid-template-columns: 2fr 1fr 1fr;
}

.grid-col-auto-auto {
 grid-template-columns: auto auto;
}

.grid-col-auto-auto-auto {
 grid-template-columns: auto auto auto;
}

.grid-col-auto-auto-auto-auto {
 grid-template-columns: auto auto auto auto;
}

.grid-col-1-1 {
 grid-template-columns: 1fr 1fr;
}

.grid-col-1-2 {
 grid-template-columns: 1fr 2fr;
}

.grid-col-2-1 {
 grid-template-columns: 2fr 1fr;
}

.justify-content-end {
 justify-content: end;
}

/* Grid template rules */
